# Игнорировать папки сборки (они весят гигабайты)
build/
**/build/

# Игнорировать настройки, привязанные к конкретному ПК
sdkconfig.old
sdkconfig.ci
*.map
*.hex
*.bin
*.elf

# Файлы VSCode (если не хотите хранить настройки редактора)
.vscode/
**/.vscode/

# Python кэш
__pycache__/
*.pyc

# Системные файлы
.DS_Store
Thumbs.db